<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.mapper.MemberMapper">
    <select id="login" resultType="com.example.demo.vo.MemberVo">
    	select empId, depart, level from member where userid=#{userid} and pwd=#{pwd}
    </select>
    
    <select id="getDepart" resultType="com.example.demo.vo.DepartVo">
    	select * from depart where code!='00'
    </select>
    
    <insert id="member_input_ok">
    	insert into member(userid,pwd,name,empId,depart,level,joining) values(#{userid},#{pwd},#{name},#{empId},#{depart},#{level},now())
    </insert>
    
    <select id="getEmpId" resultType="int">
    	select ifnull(count(*), 0)+1 from member
    </select>
    
    <select id="getMember" resultType="com.example.demo.vo.MemberVo">
    	select member.*, depart.name as depart_name from member, depart where empId=#{empId} and member.depart=depart.code
    </select>
    
    <select id="getCommute" resultType="com.example.demo.vo.CommuteVo">
    	select * from commute where date=#{date} and empId=#{empId}
    </select>
    
    <insert id="toWork">
    	<![CDATA[
    	insert into commute(towork,date,empId,state) values(curtime(),#{date},#{empId},'09:00:00'<curtime())
    	]]>
    </insert>
    
    <update id="toHome">
    	<![CDATA[
    	update commute set tohome=curtime(), state=if(curtime()>='18:00:00', if(state=0, state, 1), if(state=0, 2, 3))
    	 where date=#{date} and empId=#{empId}
    	]]>
    </update>
    
    <select id="member_commute" resultType="com.example.demo.vo.CommuteVo">
    	select commute.*, member.name from commute, member where commute.empId=member.empId and date=#{date}
    </select>
    
    <select id="getName" resultType="com.example.demo.vo.MemberVo">
    	select name, empId from member where depart=#{param}
    </select>
    
    <insert id="send_ok">
    	insert into memo(sender,receiver,title,content,date) values(#{sender},#{receiver},#{title},#{content},now())
    </insert>
    
    <select id="totalReceiveMemo" resultType="int">
    	select count(*) from memo where receiver=#{receiver}
    </select>
    
    <select id="readReceiveMemo" resultType="int">
    	select count(*) from memo where receiver=#{receiver} and state=1
    </select>
    
    <select id="totalSendMemo" resultType="int">
    	select count(*) from memo where sender=#{sender}
    </select>
    
    <select id="readSendMemo" resultType="int">
    	select count(*) from memo where sender=#{sender} and state=1
    </select>
    
    <select id="getSendMemo" resultType="com.example.demo.vo.MemoVo">
    	select id, title, receiver, date, state, (select name from member where empId=receiver) as name from memo where sender=#{sender}
    </select>
    
    <select id="getReceiveMemo" resultType="com.example.demo.vo.MemoVo">
    	select id, title, sender, date, state, (select name from member where empId=sender) as name from memo where receiver=#{receiver}
    </select>
    
    <select id="receiveView" resultType="com.example.demo.vo.MemoVo">
    	select *, (select name from member where empId=sender) as name from memo where id=#{id}
    </select>
    
    <update id="stateUpdate">
    	update memo set state=1 where id=#{id}
    </update>
    
    <select id="sendView" resultType="com.example.demo.vo.MemoVo">
    	select *, (select name from member where empId=receiver) as name from memo where id=#{id}
    </select>
  </mapper>